{% extends "base/base.html" %}

{% block head %}
    <title>loona gay index</title>
{% endblock %}

{% block content %}
    <style>
        #test {
            padding: 1rem;
        }
    </style>
    
    <p id=test>
        the website is wip by <a href="https://twitter.com/haseulyOn">@haseulyon</a> and <a href="https://twitter.com/babyoumine">@babyoumine</a>, submit issues or help us by contributing on our <a href="https://github.com/sutekina/loona-web">github</a> >:)  
    </p>
{% endblock %}